  <ion-header>
    <ion-navbar hideBackButton color="primary">
      <ion-title>Start a Trip</ion-title>
      <ion-buttons start>
        <button ion-button icon-left (click)="prev()">
          <ion-icon name="arrow-back"></ion-icon>
          {{preButtonText}}
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forwards"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content>

      <google-autocomplete *ngIf="showSearchCityWhere" [options]="optionsWhere" [autocomplete]="autocompleteWhere" (itemSelected)="getSelection($event)"></google-autocomplete>
      <google-autocomplete *ngIf="showSearchCityWhere" [options]="optionsFrom" [autocomplete]="autocompleteFrom" (itemSelected)="getSelection($event)"></google-autocomplete>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="DDDD" min="2017-09-27" max="2020-10-31" [(ngModel)]="dateWhere">
        </ion-datetime>
      </ion-item>

      <span *ngIf="!showSearchCityWhere">{{cityWhere.description}}</span>

    <ion-slides #startTripSlider>

        <ion-slide>

        </ion-slide>

        <ion-slide>

        </ion-slide>
      <!-- <p *ngIf="!showSearchCity">{{citySelected.description}}</p> -->

    </ion-slides>

  </ion-content>
