  <ion-header>
    <ion-navbar hideBackButton color="primary">
      <ion-title>Start a Trip</ion-title>
      <ion-buttons start>
        <button ion-button icon-left (click)="prev()">
          <ion-icon name="arrow-back"></ion-icon>
          {{preButtonText}}
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forwards"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content>

    <ion-slides #startTripSlider>

        <ion-slide>
          <google-autocomplete *ngIf="showSearchCityWhere" [options]="optionsWhere" [autocomplete]="autocompleteWhere" (itemSelected)="getSelection($event)"></google-autocomplete>
          <google-autocomplete *ngIf="showSearchCityWhere" [options]="optionsFrom" [autocomplete]="autocompleteFrom" (itemSelected)="getSelection($event)"></google-autocomplete>

          <h3>Date</h3>
          <ion-item>
            <ion-datetime displayFormat="MMMM DDDD" [min]="today" [max]="limitDay" [(ngModel)]="dateWhere">
            </ion-datetime>
          </ion-item>

          <h3>Time</h3>
          <ion-item>
            <ion-datetime displayFormat="HH:mm a" [min]="today" [(ngModel)]="timeSelected">
            </ion-datetime>
          </ion-item>

          <span *ngIf="!showSearchCityWhere">{{cityWhere.description}}</span>

        </ion-slide>

        <ion-slide>
          <h3>Passengers?</h3>
          <div class="input-passengers">
            <ion-input class="input-box" type="number"></ion-input>
            <button ion-button class="inc button-custom">+</button><button ion-button class="dec button-custom">-</button>
          </div>
        </ion-slide>
      <!-- <p *ngIf="!showSearchCity">{{citySelected.description}}</p> -->

    </ion-slides>

  </ion-content>
