<ion-grid *ngIf="showSearchCity">
  <ion-row>
    <ion-col>
      <ion-searchbar
        [(ngModel)]="autocomplete.query"
        [showCancelButton]="true"
        (ionInput)="updateGoogleSearch()"
        (ionCancel)="dismissSearch()"
        placeholder="Start typing and select ...">
      </ion-searchbar>
    </ion-col>
  </ion-row>
  <!-- <ion-row class="list-items-container">
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let item of autocompleteItems"
          (click)="chooseItem(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row> -->
</ion-grid>
